/**
File:   xray.rc
**/

#include <os2.h>
#include "xrayrc.h"

ICON    ID_ICON  xray.ico
BITMAP  ID_LOGO  "csb4.bmp"

MENU IDM_POPUP
BEGIN
    MENUITEM "~Top of screen", IDM_MOVE
    MENUITEM "~Float on top", IDM_FLOAT
    MENUITEM "~Close", IDM_CLOSE
    MENUITEM  SEPARATOR
    MENUITEM "~About...", IDM_ABOUT
END

DLGTEMPLATE DLG_ABOUT 
BEGIN
	DIALOG "", 100, 5, 4, 264, 151, WS_VISIBLE
	BEGIN
		DEFPUSHBUTTON "~Ok", DID_OK, 45, 4, 174, 12
		CONTROL "XúRAY", DID_STATICTEXT, 34, 127, 65, 16, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "24.Helv"
		CONTROL "Version " VERSION, DID_STATICTEXT, 8, 114, 94, 7, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "The window peeker", DID_STATICTEXT, 9, 100, 92, 9, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Credits", 107, 3, 19, 258, 36, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Developed by Michael Shillingford", DID_STATICTEXT, 12, 39, 241, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Freeware - See EDM/2 Jan. 1997 (www.iqpac.com/edm2)", DID_STATICTEXT, 8, 30, 248, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Email comments to: mshill@elkvalley.net", DID_STATICTEXT, 33, 20, 202, 9, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", 105, 3, 94, 258, 60, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL ID_LOGO, ID_LOGO, 105, 98, 152, 49, WC_STATIC, SS_BITMAP | WS_VISIBLE | WS_GROUP
		CONTROL ID_ICON, ID_ICON, 8, 127, 22, 16, WC_STATIC, SS_ICON | WS_VISIBLE | WS_GROUP
		CONTROL "Startup command line options", DID_STATICTEXT, 3, 57, 258, 34, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "/F - float to top of other windows   /T - top of screen", DID_STATICTEXT, 8, 72, 249, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "(Note: when a is menu active, use cursor up/dn to display menu IDs)", DID_STATICTEXT, 10, 61, 246, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "8.Helv"
	END

END
